<script>
  export let src;
  export let hide_controls = false;

  import { onPlayAudioGrapher, onPauseAudioGrapher } from '$lib/soundstore.js';
  import { volume } from '$lib/stores.js';
  import { onDestroy, onMount } from 'svelte';

  let audio;
  let observer;
  let lazy_loaded = false;

  export function paused() {
    return audio.paused;
  }

  export function play() {
    audio.play();
  }

  export function pause() {
    audio.pause();
  }

  function onStoreChange(value) {
    if (audio) {
      audio.volume = value;
    }
  }

  volume.subscribe(onStoreChange);

  function onVolumeChange(_e) {
    $volume = audio.volume;
  }

  onMount(() => {
    audio.volume = $volume;
    if (hide_controls) {
      // We never get "intersection" events if no controls exist. So always load.
      lazy_loaded = true;
      audio.load();
    } else {
      observer = new IntersectionObserver(onIntersect, { rootMargin: '100px' });
      observer.observe(audio);
    }
  });

  onDestroy(() => {
    if (observer) {
      observer.unobserve(audio);
    }
  });

  function onIntersect(entries) {
    if (!lazy_loaded && entries[0].isIntersecting) {
      lazy_loaded = true;
      audio.load();
    }
  }
</script>

<audio
  bind:this={audio}
  on:play={onPlayAudioGrapher}
  on:pause={onPauseAudioGrapher}
  on:volumechange={onVolumeChange}
  controls={hide_controls ? null : true}
  preload="metadata"
>
  {#if lazy_loaded}
    <source {src} type="audio/mp3" />
  {/if}
</audio>
