<script>
  export let src;
  export let alt;
  export let title;

  import { onDestroy, onMount } from 'svelte';

  let img;
  let observer;
  let lazy_src;

  onMount(() => {
    observer = new IntersectionObserver(onIntersect, { rootMargin: '100px' });
    observer.observe(img);
  });

  onDestroy(() => {
    if (observer) {
      observer.unobserve(img);
    }
  });

  function onIntersect(entries) {
    if (!lazy_src && entries[0].isIntersecting) {
      lazy_src = src;
    }
  }
</script>

{#if alt == 'darkmodeimage'}
  <div class="dark:invert">
    <img bind:this={img} src={lazy_src} {title} />
  </div>
{:else}
  <img bind:this={img} src={lazy_src} {alt} {title} />
{/if}
