<script>
  export let alt = null;
  export let src;
  export let title = null;

  import AudioPlayer from '$lib/AudioPlayer.svelte';
  import VideoPlayer from '$lib/VideoPlayer.svelte';
  import Image from '$lib/Image.svelte';
</script>

{#if src.endsWith('.mp4')}
  <VideoPlayer
    {src}
    autoplay={!alt?.includes('no-autoplay')}
    loop={!alt?.includes('no-loop')}
    max_w={alt?.includes('max-300px')}
  />
{:else if src.endsWith('.mp3') || src.endsWith('ogg')}
  <AudioPlayer {src} />
{:else}
  <Image {alt} {src} {title} />
{/if}
