<script>
  export let stl_path;
  export let containerClasses; // tailwind class.
  export let scale = 0.1;
  // Model rotation.
  export let rotX = -90; // degrees
  export let rotY = 0; // degrees
  export let rotZ = 0; // degrees
  export let zoom = 10; // Actually camera z position so 0 is inside the model.
  export let tilt = 0;
  export let canPan = false;

  import { onMount } from 'svelte';
  import * as THREE from 'three';
  import { defaultScene, loadSTL, setupRenderer } from '$lib/three-utils.js';

  let el;
  let container;
  let controls;

  onMount(() => {
    const scene = defaultScene();
    loadSTL(scene, stl_path, scale, rotX, rotY, rotZ);

    const camera = new THREE.PerspectiveCamera(75, 1.0, 0.1, 1000);
    camera.position.z = zoom;
    camera.position.y = tilt;

    const result = setupRenderer(container, el, scene, camera, canPan);
    controls = result[0];
  });

  function resetCamera() {
    controls.reset();
  }
</script>

<div bind:this={container} class="relative aspect-square max-w-xl {containerClasses}">
  <canvas bind:this={el} class="aspect-square"></canvas>
  <button class="absolute right-6 top-0 mt-0" on:click={resetCamera}>
    <img
      class="svg-fill-logo h-8 w-8 opacity-50"
      src="/pub/symbols/camera-rotate.svg"
      alt="Reset Camera"
    />
  </button>
</div>
