<script>
  export let audio;

  import AudioPlayer from '$lib/AudioPlayer.svelte';

  let player;

  function playaudio() {
    if (player.paused()) {
      player.play();
    } else {
      player.pause();
    }
  }
</script>

<!-- We're using an <a> here to inherit typography styles. We use the {} here to
avoid a a11y warning. -->
<a href={'javascript:void(0);'} on:click={playaudio}>
  <slot />🔊
</a>
<AudioPlayer bind:this={player} src={audio} hide_controls="true" />
