<script>
  export let src;
  export let autoplay;
  export let loop;
  export let max_w;

  import { onPlayAudioGrapher, onPauseAudioGrapher } from '$lib/soundstore.js';
  import { volume } from '$lib/stores.js';
  import { onDestroy, onMount } from 'svelte';

  let video;
  let observer;
  let lazy_loaded = false;

  function onStoreChange(value) {
    if (video) {
      video.volume = value;
    }
  }

  volume.subscribe(onStoreChange);

  function onVolumeChange(_e) {
    $volume = video.volume;
  }

  onMount(() => {
    video.volume = $volume;
    video.autoplay = autoplay;
    video.loop = loop;
    observer = new IntersectionObserver(onIntersect, { rootMargin: '100px' });
    observer.observe(video);
  });

  onDestroy(() => {
    if (observer) {
      observer.unobserve(video);
    }
  });

  function onIntersect(entries) {
    if (!lazy_loaded && entries[0].isIntersecting) {
      lazy_loaded = true;
      video.load();
    }
  }
</script>

<video
  class:max_w
  on:volumechange={onVolumeChange}
  on:play={onPlayAudioGrapher}
  on:pause={onPauseAudioGrapher}
  bind:this={video}
  playsinline
  controls
>
  {#if lazy_loaded}
    <source {src} type="video/mp4" />
  {/if}
</video>

<style>
  video::-webkit-media-controls-panel {
    opacity: 1 !important;
  }

  .max_w {
    max-width: 300px;
  }
</style>
