<script>
  import { browser } from '$app/environment';
  import loading_im from './loading.webm';
  import sad_im from './sad.webm';

  let prompt = '';
  $: prompt, onPromptChange();
  let src;
  let processing = false;
  let needsUpdate = false;

  async function requestImage() {
    if (processing) {
      needsUpdate = true;
      return;
    }

    processing = true;
    if (!src || src == sad_im) {
      src = loading_im;
    }
    // Send a POST request to the server
    const response = await fetch('/api/stablediffusion', {
      method: 'POST',
      body: JSON.stringify({ prompt: `${prompt} with a santa hat` }),
      headers: { 'content-type': 'application/json' }
    });
    const data = await response.json();

    if ('data' in data) {
      src = `data:image/png;base64,${data['data']}`;
    } else {
      src = sad_im;
    }

    processing = false;

    if (needsUpdate) {
      needsUpdate = false;
      requestImage();
    }
  }

  let timer;
  async function onPromptChange() {
    if (!browser) {
      return;
    }
    if (!prompt) {
      return;
    }

    clearTimeout(timer);
    timer = setTimeout(() => {
      requestImage();
    }, 1250);
  }
</script>

<article class="prose prose-zinc max-w-[100%] dark:prose-invert">
  <p>
    Seems like everyone and their mum has a stable diffusion web app so here's mine. Atleast until
    my GPU service runs out of money. This is currently running SDXL-turbo. Unfortunately, my GPU
    setup here means slow renders and the model here means ugly renders.
  </p>
  <p class="mb-8 mt-8">
    The image is generated everytime you stop typing. First generation may time out and this could
    just not work because I'm constantly being throttled.🙁
  </p>

  Prompt:
  <textarea class="h-20 w-full" bind:value={prompt} on:change={onPromptChange} />

  <div class="flex items-center justify-center">
    {#if src && src.endsWith('.webm')}
      <video playsinline autoplay loop>
        <source {src} type="video/mp4" />
      </video>
    {:else}
      <img {src} />
    {/if}
  </div>
</article>
