<script>
  export let data;
  import Card from './Card.svelte';
</script>

<div class="flex w-full flex-row justify-end">
  <a class="transition hover:scale-110" href="/blog/rss.xml">
    <img class="svg-fill-logo h-8 w-8" src="/pub/symbols/rss.svg" alt="RSS" />
  </a>
</div>
{#each data.posts as post}
  <Card {post} />
{/each}
