<script>
  export let post;
</script>

<div>
  <a href={post.path}>
    <h2>
      {post.meta.title}
    </h2>
    <p>
      Published {post.meta.date}
    </p>
  </a>
</div>

<style>
  div {
    @apply flex w-full p-4;
  }

  a {
    @apply w-full rounded-lg border border-zinc-400 p-4;
  }

  h2 {
    @apply text-2xl font-bold;
  }
</style>
