<script context="module">
  import img from '$lib/MdsvexImg.svelte';
  export { img };
</script>

<script>
  export let title;
  export let date;
  export let categories;
  export let updated;
  export let snippet;

  import { browser } from '$app/environment';
  import { onDestroy } from 'svelte';

  onDestroy(() => {
    if (browser) {
      document.title = 'Meptl';
    }
  });
</script>

<svelte:head>
  <title>{title}</title>
  <meta property="og:title" content={title} />
  {#if snippet}
    <meta name="description" content={snippet} />
    <meta property="og:description" content={snippet} />
  {/if}
</svelte:head>

<article class="prose prose-zinc max-w-[100%] dark:prose-invert">
  <h1 class="mb-1">{title}</h1>

  <p class="mb-8">
    <b>Published</b>: {date}
    {#if updated}
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Updated</b>: {updated}
    {/if}
  </p>

  <slot />

  <!--
  {#if categories}
    <aside>
      <h2>Categories:</h2>
      <ul>
        {#each categories as category}
          <li>
            {category}
          </li>
        {/each}
      </ul>
    </aside>
  {/if}
  -->
</article>
