<script>
  import { page } from '$app/stores';

  $: route = to_meme($page.url.pathname);

  function to_meme(path) {
    if (!path) {
      return '';
    }
    let readable = path.replace(/-/g, ' ').replace(/\//g, ' ');
    return readable.toUpperCase();
  }
</script>

<img src="/pub/ifihadany.png" alt="404" />
<div>
  <span>
    <span class="memefont">AND THIS IS WHERE I'D PUT MY</span>
    <span class="memefont">{route}</span>
  </span>
  <span class="memefont">IF I HAD ANY</span>
</div>
<h1>{$page.status}: {$page.error?.message}</h1>

<style>
  h1 {
    /** Using absolute because my footer sucks and has a size.
     *  I don't want a scrollbar on this page.
     */
    @apply absolute text-4xl font-bold;
    margin-top: 66vh;
  }

  img {
    height: 65vh;
  }

  div {
    @apply relative flex flex-col justify-between overflow-hidden;
    height: 65vh;
    margin-top: -65vh;
    aspect-ratio: 1432 / 2162; /** Image resolution */
  }

  .memefont {
    @apply block text-center font-bold text-white;
    font-size: 2.6vh;
    text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0px 2px 0 #000,
      2px 0px 0 #000,
      0px -2px 0 #000,
      -2px 0px 0 #000;
  }
</style>
