<script>
  import '../app.css';
  import '../prism-darcula.css';

  import DarkModeButton from './DarkModeButton.svelte';
  import Decoration from './Decoration.svelte';
  import Header from './Header.svelte';
  import IntroAnim from './IntroAnim.svelte';
  import { fade } from 'svelte/transition';
  import { darkMode } from '$lib/stores.js';
  import { onMount } from 'svelte';

  export let data;

  function applyDarkMode() {
    $darkMode
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.remove('dark');
  }
  onMount(() => {
    applyDarkMode();
  });
</script>

<!--Used in Discord previews-->
<svelte:head>
  <title>Meptl</title>
  <meta property="og:title" content="Meptl" />
  <meta property="twitter:title" content="Meptl" />
  <meta name="theme-color" content="#ffbb3e" />
  <meta property="og:image" content="/logo-square.png" />
  <meta property="twitter:image" content="/logo-square.png" />
  <meta property="og:type" content="website" />
</svelte:head>

<!--Background image-->
<div class="fixed -z-10 h-full w-full bg-light-image bg-center bg-repeat dark:bg-dark-image"></div>
<div class="flex flex-grow flex-col">
  <Decoration />
  <Header />
  <IntroAnim />
  <!-- Margin compensates for footer becoming fixed. -->
  <div class="grid flex-grow grid-cols-1 lg:mb-[140px]">
    {#key data.currentRoute}
      <main
        in:fade={{ duration: 150, delay: 150 }}
        out:fade={{ duration: 150 }}
        class="z-10 col-start-1 col-end-2 row-start-1 row-end-2 mx-auto my-0 flex w-full max-w-4xl flex-grow flex-col items-center px-4"
      >
        <slot />
      </main>
    {/key}
  </div>
  <footer class="bottom-0 block w-full lg:fixed">
    <div class="mx-auto flex max-w-6xl flex-row justify-end p-12">
      <DarkModeButton />
    </div>
  </footer>
</div>

<style global>
  html {
    color: #27272a;
  }
  html.dark {
    color: #f4f4f5;
  }
  iframe {
    max-width: 100%;
  }
</style>
