<div class="mt-8 grid grid-cols-3 gap-8">
  <a class="transition hover:scale-110" href="https://gitlab.com/Meptl" title="Gitlab" alt="Gitlab">
    <img class="svg-fill-logo w-20 sm:w-32 md:w-48" src="/pub/symbols/gitlab.svg" alt="Gitlab" />
  </a>
  <a
    class="text-center transition hover:scale-110"
    href="https://github.com/Meptl"
    title="Github"
    alt="Github"
  >
    <img class="svg-fill-logo w-20 sm:w-32 md:w-48" src="/pub/symbols/github.svg" alt="Github" />
  </a>
  <a class="transition hover:scale-110" href="mailto:meptl@meptl.com" title="Email" alt="Email">
    <img class="svg-fill-logo w-20 sm:w-32 md:w-48" src="/pub/symbols/mail.svg" alt="Email" />
  </a>
</div>
