<script>
  import { darkMode } from '$lib/stores.js';

  function applyDarkMode() {
    $darkMode
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.remove('dark');
  }

  function setLightMode() {
    $darkMode = false;
    applyDarkMode();
  }

  function setDarkMode() {
    $darkMode = true;
    applyDarkMode();
  }
</script>

{#if $darkMode}
  <button class="transition hover:scale-110" on:click={setLightMode} title="Enter Light Mode">
    <img class="svg-fill-logo h-11 w-11" src="/pub/symbols/moon.svg" alt="Moon" />
  </button>
{:else}
  <button class="transition hover:scale-110" on:click={setDarkMode} title="Enter Dark Mode">
    <img class="svg-fill-logo h-11 w-11" src="/pub/symbols/sun.svg" alt="Sun" />
  </button>
{/if}
