<script>
  import { spectrum } from '$lib/soundstore.js';

  let left_offset = 1.0;
  let right_offset = 1.0;

  spectrum.subscribe((value) => {
    left_offset = 1.0 + 0.5 * value.bass;
    right_offset = 1.0 + 0.35 * value.bass;
  });
</script>

<div class="pointer-events-none fixed h-full w-full overflow-hidden">
  <div
    class="bar left-bar origin-bottom"
    style="transform: rotate(-25deg) scaleX({left_offset});"
  ></div>
  <div class="bar right-bar" style="transform: rotate(60deg) scaleX({right_offset});"></div>
</div>

<style>
  .bar {
    @apply fixed w-52 bg-logo;
  }

  .left-bar {
    @apply -bottom-20 -left-60 h-60 transition lg:-left-20;
    transition-property: left;
  }

  .right-bar {
    @apply -bottom-[26rem] -right-8 h-96 transition lg:-bottom-[17rem];
    transition-property: bottom;
  }
</style>
