<script>
  import TopNavButton from './TopNavButton.svelte';
  import { onMount } from 'svelte';
  import { revisitor } from '../lib/stores.js';
  import { cubicOut } from 'svelte/easing';
  import { spectrum } from '$lib/soundstore.js';

  let links = [
    { name: 'Blog', path: '/blog', freq_offset: 1.0, offset: '10px' },
    { name: 'Things', path: '/things', freq_offset: 1.0, offset: '0px' },
    { name: 'Twits', path: '/twits', freq_offset: 1.0, offset: '13px' }
  ];
  let showMobileNav = false;
  let introAnimWillPlay = false;
  let logo_scale = 1.0;

  spectrum.subscribe((value) => {
    links[2].freq_offset = 1.0 + value.bass;
    links[1].freq_offset = 1.0 + value.mids;
    links[0].freq_offset = 1.0 + value.highs;
    logo_scale = 1.0 + 0.3 * value.bass;
  });

  onMount(() => {
    introAnimWillPlay = !$revisitor;
  });

  /** Transition that works for svg images. */
  function customscale(node, { delay = 0, duration = 0 }) {
    return {
      delay,
      duration,
      css: (t) => {
        return `height: ${t * 100}%;`;
      }
    };
  }

  function scaleY(node, options) {
    return {
      duration: options.duration,
      easing: cubicOut,
      css: (t) => `transform:scaleY(${t}); transform-origin: top left;`
    };
  }
</script>

<header class="mx-auto my-0 mb-12 flex w-full max-w-5xl flex-row justify-between px-4">
  <div style="transform: scale({logo_scale})">
    {#if introAnimWillPlay}
      <!-- delay based on intro anim length
      The element in here should be the same in both branches of the conditional.
      Conditional duration/delay wasn't behaving properly.
      -->
      <a href="/" class="flex h-28 w-28 flex-row items-center justify-center p-4"
        ><img
          in:customscale={{ duration: 200, delay: 2150 }}
          class="svg-fill-logo h-full transition duration-200 hover:scale-110"
          alt="Logo"
          src="/pub/logo.svg"
        /></a
      >
    {:else}
      <a href="/" class="flex h-28 w-28 flex-row items-center justify-center p-4"
        ><img
          class="svg-fill-logo h-full transition duration-200 hover:scale-110"
          alt="Logo"
          src="/pub/logo.svg"
        /></a
      >
    {/if}
  </div>

  <button
    class="absolute right-0 top-0 p-8 transition-all hover:scale-110 md:-top-28"
    on:click={() => {
      showMobileNav = true;
    }}
  >
    <img class="svg-fill-logo h-8 w-8" src="/pub/symbols/burger.svg" alt="Burger" />
  </button>

  <!--Mobile nav-->
  {#if showMobileNav}
    <nav
      class="fixed left-0 top-0 z-30 h-full w-full bg-logo pt-6"
      transition:scaleY={{ duration: 100 }}
    >
      {#each links as { name, path, offset }}
        <a
          class="text-invert block p-4 text-center font-bold"
          href={path}
          on:click={() => {
            showMobileNav = false;
          }}
        >
          {name}
        </a>
      {/each}

      <!-- Dupe of the main burger button.
          Can't use tailwind styling in Svelte styles (without global css sheet hacking) -->
      <button
        class="absolute right-0 top-0 p-8 hover:scale-110"
        on:click={() => {
          showMobileNav = false;
        }}
      >
        <img
          class="svg-fill-site-white dark:svg-fill-site-black h-8 w-8"
          src="/pub/symbols/burger.svg"
          alt="Burger"
        />
      </button>
    </nav>
  {/if}

  <nav class="hidden grid-cols-3 gap-8 md:grid">
    {#each links as { name, path, freq_offset, offset }}
      <TopNavButton {name} {path} --freq_offset={freq_offset} --offset={offset} />
    {/each}
  </nav>
</header>
