<script>
  import { onMount } from 'svelte';
  import { fade, fly, scale } from 'svelte/transition';
  import { revisitor } from '../lib/stores.js';

  let ready = false;
  onMount(() => (ready = true));
  let show_intro = false;
  let show_logo = false;

  function intro(node, { duration = 0 }) {
    return {
      duration,
      css: (t) => {
        return ``;
      }
    };
  }

  export function reset() {
    $revisitor = false;
    show_intro = false;
    show_logo = false;
  }
</script>

{#if ready && !$revisitor && !show_intro}
  <div
    class="fixed inset-0 z-50 h-full w-full overflow-hidden bg-light-image dark:bg-dark-image"
    in:intro
    on:introend={() =>
      setTimeout(() => {
        show_intro = true;
        show_logo = true;
        $revisitor = true;
      }, 1400)}
  >
    <div in:fly={{ opacity: 1.0, x: -9000, duration: 1000 }} class="bar bot"></div>
    <div in:fly={{ opacity: 1.0, x: 6000, duration: 1200 }} class="bar top"></div>
    <div in:fly={{ opacity: 1.0, y: 5000, duration: 1100 }} class="bar bot-right"></div>
    <div in:fly={{ opacity: 1.0, y: 5000, duration: 1400 }} class="bar top-right"></div>
    <div in:fly={{ opacity: 1.0, y: -5000, duration: 1000 }} class="bar top-left"></div>
    <div in:fly={{ opacity: 1.0, y: -5000, duration: 1100 }} class="bar bottom-left"></div>
  </div>
{/if}
{#if show_logo}
  <div
    out:fade={{ duration: 200, delay: 100 }}
    class="fixed inset-0 z-50 h-full w-full bg-light-image dark:bg-dark-image"
  >
    <img
      alt="Logo"
      class="logo svg-fill-logo z-50"
      in:scale={{ duration: 100, start: 1.1, opacity: 1.0 }}
      out:scale={{ duration: 200, opacity: 1.0 }}
      on:introend={() =>
        setTimeout(() => {
          show_logo = false;
        }, 500)}
      src="/pub/logo.svg"
    />
  </div>
{/if}

<style>
  .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffbb3e;
    top: 0;
    left: 0;
  }

  .bot {
    top: 70vh;
  }

  .top {
    top: -70vh;
  }

  .bot-right {
    transform-origin: left;
    transform: rotate(30deg);
    left: calc(50% + 23.094vh);
  }

  .top-right {
    transform-origin: left;
    transform: rotate(-30deg);
    left: calc(50% + 23.094vh);
  }

  .top-left {
    transform-origin: right;
    transform: rotate(30deg);
    left: calc(-50% - 23.094vh);
  }

  .bottom-left {
    transform-origin: right;
    transform: rotate(-30deg);
    left: calc(-50% - 23.094vh);
  }

  .logo {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    border: 0;
  }
</style>
