<script>
  export let name;
  export let path;
</script>

<a
  class="text-invert relative p-4 text-center
  font-semibold transition-[padding] delay-100 duration-[10000ms] ease-[cubic-bezier(0.02,1.06,0.04,0.99)] hover:pb-5 hover:pt-3"
  href={path}
>
  {name}
</a>

<style>
  /* Handle sound responsiveness with scale. Handle hover with bottom CSS. */
  a::before {
    transition: bottom 5s cubic-bezier(0.02, 1.06, 0.04, 0.99);

    @apply bg-logo;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: calc(30px - var(--offset));
    right: 0;
    z-index: -1;

    -webkit-transform: scaleY(var(--freq_offset));
    -ms-transform: scaleY(var(--freq_offset));
    transform: scaleY(var(--freq_offset));
  }

  a:hover::before {
    /* Should be right below the text... */
    bottom: 65px;
  }
</style>
