<script>
  export let data;
</script>

<div class="flex w-full flex-grow items-center gap-4">
  {#if data.currentRoute !== '/things'}
    <a class="mb-20 hidden md:block" href="/things">
      <img
        class="svg-fill-site-black dark:svg-fill-site-white w-10 transition hover:scale-125"
        src="/pub/symbols/twotone-arrow-back-ios.svg"
        alt="BackArrow"
      />
    </a>
  {/if}
  <div class="h-full w-full items-start">
    <slot />
  </div>
</div>
