<script>
  import Thumbnail from './Thumbnail.svelte';
  import ThingHeading from './ThingHeading.svelte';

  import im_gooselight from './things/gooselight/gooselight.webp';
  import im_meptlpad from './meptlpad/meptlpad-thumb.webp';
  import im_dew from './dewtime/dewtime.svg';
  import im_ccdb from './ccdbsearch/ccdbsearch-thumb.webp';
  import im_handcrop from './things/handcrop/logo.svg';
  import im_lita_3d from './lines/lita-3d/lita-3d.webp';
  import im_wildfrost_kmnz from './lines/wildfrost-kmnz/wildfrost-kmnz-thumb.webp';
  import im_luvoratorrrrry from './lines/luvoratorrrrry/luvoratorrrrry-thumb.webp';
  import im_dynamo from './sounds/dynamo-of-volition/dynamo-of-volition-thumb.webp';
  import im_comum from './sounds/comum/comum.webp';
  import im_virtual from './sounds/virtual-luv/virtual-luv-thumb.webp';
  import im_charmonydove from './sounds/charmonydove/charmonydove.webp';
  import im_calma from './sounds/calma/calma.webp';
  import im_shareyourtube from './things/share-your-tube/logo.webp';
  import im_gfl2_squad_planner from './things/gfl2-squad-planner/image.webp';
</script>

<ThingHeading>Things</ThingHeading>
<div class="flex flex-wrap">
  <Thumbnail
    image={im_gfl2_squad_planner}
    title="GFL2 Squad Planner"
    href="things/things/gfl2-squad-planner"
  />
  <Thumbnail
    image={im_shareyourtube}
    iconPad="p-8"
    title="ShareYourTube"
    href="things/things/share-your-tube"
    shitpost="true"
  />
  <Thumbnail image={im_handcrop} iconPad="p-8" title="Handcrop" href="things/things/handcrop" />
  <Thumbnail
    title="artisan-tts"
    href="things/things/artisan-tts"
    shitpost="true"
    caption="one-day build"
  />
  <Thumbnail
    image={im_gooselight}
    title="gooselight"
    href="things/things/gooselight"
    caption="adjustable & clampable LED"
  />
  <Thumbnail image={im_meptlpad} title="Meptlpad" href="things/meptlpad" caption="4x4 keyboard" />
  <Thumbnail
    image={im_dew}
    title="Dewtime"
    iconPad="p-14"
    href="things/dewtime"
    caption="time tracker app"
  />
  <Thumbnail
    image={im_ccdb}
    title="ccdbsearch"
    href="things/ccdbsearch"
    caption="search for leaks"
    shitpost="true"
  />
</div>
<ThingHeading>Lines</ThingHeading>
<div class="flex flex-wrap">
  <Thumbnail
    image={im_lita_3d}
    href="things/lines/lita-3d"
    title="KMNZ LITA 3D Model"
    textsize="0.9rem"
    caption="weeb fan art"
  />
  <Thumbnail image={im_wildfrost_kmnz} href="things/lines/wildfrost-kmnz" caption="weeb fan art" />
  <Thumbnail
    image={im_luvoratorrrrry}
    title="LUVORATORRRRRY"
    href="things/lines/luvoratorrrrry"
    textsize="0.9rem"
    caption="weeb fan art"
  />
</div>
<ThingHeading>Sounds</ThingHeading>
<div class="flex flex-wrap">
  <Thumbnail image={im_calma} title="Calma" href="things/sounds/calma" />
  <Thumbnail
    image={im_charmonydove}
    title="one day after dinner"
    textsize="0.9rem"
    href="things/sounds/charmonydove"
    shitpost="true"
  />
  <Thumbnail image={im_virtual} title="Virtual Luv" href="things/sounds/virtual-luv" />
  <Thumbnail image={im_comum} title="Comum" href="things/sounds/comum" />
  <Thumbnail
    image={im_dynamo}
    title="Dynamo of Volition"
    textsize="0.9rem"
    href="things/sounds/dynamo-of-volition"
  />
</div>
