<script>
  import pooptrophy from './pooptrophy.svg';
  import pooppow from './pooppow.svg';
</script>

<div class="group relative h-14 w-14">
  <img
    class="absolute inset-0 opacity-0 transition group-hover:animate-spin-slow group-hover:opacity-100"
    src={pooppow}
  />
  <img
    class="absolute inset-0 m-auto h-8 h-8 transition group-hover:scale-125"
    src={pooptrophy}
    title="Certified Shit Post"
  />
</div>
