<script context="module">
  import img from '$lib/MdsvexImg.svelte';
  export { img };
</script>

<script>
  /**
   * A responsive two column page.
   * Is preconfigured to show images, mp4 videos, and audio on the left card.
   * Probably an overloaded layout but whatever.
   */
  export let title;
  export let image;
  export let audio;
  export let date;
  export let shitpost;

  import AudioPlayer from '$lib/AudioPlayer.svelte';
  import VideoPlayer from '$lib/VideoPlayer.svelte';
  import PoopTrophy from './PoopTrophy.svelte';
</script>

<div class="flex w-full items-center">
  <div class="grid grid-cols-1 gap-8 {image ? 'md:grid-cols-2' : ''}">
    <div>
      {#if image}
        <div class="relative">
          <div class="absolute">
            {#if image.endsWith('.mp4')}
              <VideoPlayer src={image} />
            {:else}
              <img src={image} />
            {/if}
          </div>
          {#if shitpost}
            <div class="absolute right-0">
              <PoopTrophy />
            </div>
          {/if}
        </div>
      {/if}
      {#if audio}
        <AudioPlayer src={audio} />
      {/if}
    </div>
    <div>
      <article class="prose prose-zinc dark:prose-invert">
        {#if title}
          <h2 class="mb-1">{title}</h2>
        {/if}
        <p class="mb-8">
          <b>Published</b>: {date}
        </p>

        <slot />
      </article>
    </div>
  </div>
</div>
