<div class="mb-8 mt-8 flex w-full justify-center">
  <span class="group grid">
    <span
      class="pointer-events-none absolute col-start-1 row-start-1 pl-20 pt-2 text-center opacity-0 transition delay-300 duration-1000 group-hover:opacity-100"
    >
      <span
        class="select-none whitespace-nowrap text-xs font-thin text-zinc-600 dark:text-zinc-400"
      >
        that I'm okay with sharing
      </span>
    </span>
    <h1 class="col-start-1 row-start-1 text-xl font-bold">
      <slot />
    </h1>
  </span>
</div>
