<script>
  export let title = '';
  export let image = black50;
  export let href = '#';
  export let caption = '';
  export let shitpost = false;
  export let textsize = '1.2rem';
  export let iconPad;

  import PoopTrophy from './PoopTrophy.svelte';
  // A black pixel at 50% transparency.
  import black50 from './black-50.png';
</script>

<a class="group relative h-28 w-28 overflow-hidden sm:h-40 sm:w-40 md:h-48 md:w-48" {href}>
  <img
    class="absolute {iconPad} h-full w-full object-contain transition group-hover:scale-105"
    src={image}
  />
  <!-- Dark overlay, we don't use brightness modifier on the image because of transparent pixels. -->
  <div class="absolute h-full w-full bg-black/50 opacity-0 transition group-hover:opacity-100" />
  <div
    class="absolute flex h-full w-full flex-col items-center justify-center text-site-white {image ==
    black50
      ? ''
      : 'opacity-0'} group-hover:opacity-100"
  >
    <h2 style="font-size: {textsize}" class="font-extrabold">{title}</h2>
    <p class="text-xs font-normal">{caption}</p>
  </div>
  {#if shitpost}
    <div class="absolute bottom-0 right-0">
      <PoopTrophy />
    </div>
  {/if}
</a>
