<script>
  export let stl_path;
  export let ortho_cam;
  export let rotX = 0; // degrees
  export let rotY = 0; // degrees
  export let rotZ = 0; // degrees
  export let fov = 15;
  export let fit = 0.5; // How much of the canvas should the object take.

  import { browser } from '$app/environment';
  import { Range, Label } from 'flowbite-svelte';
  import { onMount, onDestroy, tick } from 'svelte';
  import * as THREE from 'three';
  import { defaultScene, loadSTL, setupRenderer } from '$lib/three-utils.js';

  export let ppi = 96;

  let canvasEl;
  let container;
  let controls;
  let size;
  let desired_size = 10.0; // mm
  $: desired_px = 96 * (desired_size / 25.4);
  $: if (inFrame) {
    size = (desired_px * ppi) / (96 * devicePixelRatio);
    if (browser && window && controls) {
      controls.resize_handler(size);
    }
  }

  let devicePixelRatio;

  let observer;
  let inFrame = true;

  onMount(async () => {
    // On smaller screens the canvas resizing pushes the DOM around.
    // We'll check for visibility and only update size when it's visible.
    observer = new IntersectionObserver(onIntersect, { rootMargin: '100px' });
    observer.observe(container);

    const scene = defaultScene();
    const stl = await loadSTL(scene, stl_path, 1.0, rotX, rotY, rotZ);

    var bbox = new THREE.Box3().setFromObject(stl);
    var size = new THREE.Vector3();
    bbox.getSize(size);
    const stl_width = Math.max(size.x, size.y, size.z);
    const width = stl_width / fit;

    desired_size = width;
    await tick(); // Wait for Svelte reactivity.

    let camera;
    if (ortho_cam != null) {
      camera = new THREE.OrthographicCamera(
        width / -2,
        width / 2,
        width / 2,
        width / -2,
        0.1,
        10000
      );
      // Anywhere beyond the stl should be fine.
      camera.position.z = stl_width + 2;
    } else {
      camera = new THREE.PerspectiveCamera(fov, 1.0, 0.1, 10000);
      camera.position.z = width / 2 + width / 2 / Math.tan(((fov / 2) * Math.PI) / 180);
    }

    const result = setupRenderer(container, canvasEl, scene, camera);
    controls = result[0];
    const renderer = result[1];
    controls.resize_handler = (newWidth) => {
      // newWidth is typically a resize event. However, we want to pass an arg
      // to this handler.
      renderer.setSize(newWidth, newWidth);
      camera.aspect = 1;
      camera.updateProjectionMatrix();
    };
  });

  onDestroy(() => {
    if (observer) {
      observer.unobserve(container);
    }
  });

  function resetCamera() {
    controls.reset();
  }

  function onIntersect(entries) {
    if (entries[0].isIntersecting) {
      inFrame = true;
    } else {
      inFrame = false;
    }
  }
</script>

<svelte:window bind:devicePixelRatio />

<Label>ppi: {ppi}</Label>
<Range min="1" max="600" bind:value={ppi} step="1.0" class="max-w-sm" />
<div
  bind:this={container}
  class="relative aspect-square"
  style="width: {size}px; height: {size}px;"
>
  <canvas bind:this={canvasEl} class="aspect-square" style="width: {size}px; height: {size}px;"
  ></canvas>
  <button class="absolute right-6 top-0 mt-0" on:click={resetCamera}>
    <img
      class="svg-fill-logo h-8 w-8 opacity-50"
      src="/pub/symbols/camera-rotate.svg"
      alt="Reset Camera"
    />
  </button>
</div>
