<script>
  import { Range, Label } from 'flowbite-svelte';
  import { onMount } from 'svelte';

  export let ppi = 96;
  let desired_size = 1.0; // in
  $: desired_px = 96 * desired_size;
  $: size = (desired_px * ppi) / (96 * devicePixelRatio);
  $: physicalPixels = Math.floor(size * devicePixelRatio);
  let devicePixelRatio;
</script>

<svelte:window bind:devicePixelRatio />

<div class="grid grid-cols-1 pb-4 lg:grid-cols-4 lg:gap-12">
  <div>
    <Label>ppi: {ppi}</Label>
    <Range min="1" max="600" bind:value={ppi} step="1.0" />
  </div>
  <div>
    <Label>Desired Size (in): {desired_size}</Label>
    <Range min="0" max="4" bind:value={desired_size} step="0.05" />
  </div>
  <div>
    devicePixelRatio: {devicePixelRatio}
  </div>
  <div>
    Physical Pixels: {physicalPixels}
  </div>
</div>
<div class="grid pb-4" style="grid-template-columns: 1fr 3fr;">
  <div style="width: {size}px; height: {size}px; background-color: #ffbb3e; margin: auto;"></div>
  <pre>
    <code>
      div {'{'}
        height: {size}px;
        width: {size}px;
        background-color: #ffbb3e;
        margin: auto;
      {'}'}
    </code>
  </pre>
</div>
