<div
  class="rounded border border-fuchsia-400 bg-fuchsia-200 p-4 dark:border-fuchsia-600 dark:bg-fuchsia-800"
>
  <span class="flex items-center text-fuchsia-700 dark:text-fuchsia-300">
    <span class="ml-2 mr-5 text-4xl font-bold"> ! </span>
    <slot />
  </span>
</div>
