<script>
  export let data;

  import TwitterCard from './TwitterCard.svelte';
  import { onMount } from 'svelte';
  import { page } from '$app/stores';

  $: pageAnchor = $page.url.hash.substr(1);
  // Extract likes from the data, it's all we need.
  let metadata_keyed = {};
  for (const twit of data.posts) {
    const metadata = {
      likes: twit.likes,
      retweets: twit.retweets
    };
    metadata_keyed[twit.meta.dateunix] = metadata;
  }

  // We only use the data variable for it's "liked" field because the content
  // field there is pure html and thus can't run javascript.
  const postsImport = import.meta.glob('/src/routes/twits/posts/*.md', { eager: true });
  let posts = [];
  for (const path in postsImport) {
    posts.push(postsImport[path]);
  }
  posts = posts.sort((a, b) => {
    return b.metadata.dateunix - a.metadata.dateunix;
  });

  let following = 0;
  let followers = 0;
  let cards = [];
  let focusedCard;

  onMount(() => {
    focusedCard = pageAnchor;
  });

  function focusNewCard(dateunix) {
    focusedCard = dateunix;
  }
</script>

<div class="flex max-w-2xl flex-col gap-2">
  <!-- Should be a picture -->
  <div class="h-52 bg-logo"></div>
  <div class="flex w-full flex-row justify-between">
    <div
      class="-mt-20 ml-4 grid h-32 w-32 place-content-center rounded-full border-4 border-site-white bg-site-white dark:border-site-black dark:bg-site-black"
    >
      <img class="svg-fill-logo h-32 w-32" src="/pub/twits/logo-circle.svg" alt="Profile" />
    </div>
    <a
      href="/twits/rss.xml"
      class="text-invert h-10 rounded-3xl bg-logo px-4 font-bold hover:brightness-95"
    >
      <div class="align-center flex h-full flex-row items-center justify-center gap-2">
        <span>Follow</span>
        <img
          class="svg-fill-site-white dark:svg-fill-site-black mt-px w-3"
          src="/pub/symbols/rss.svg"
          alt="RSS"
        />
      </div>
    </a>
  </div>
  <div>
    <div class="flex flex-row gap-1">
      <span class="font-bold">Meptl</span>
      <img class="svg-fill-logo mt-1 h-4 w-4" src="/pub/twits/verified.svg" alt="Verified" />
    </div>
    <span class="font-light text-zinc-600 dark:text-zinc-400">@meptl</span>
  </div>
  <p>Nonexistent poser</p>
  <div class="flex flex-row gap-2">
    <img class="mt-1.5 h-4 w-4" src="/pub/twits/calendar.svg" alt="Calendar" />
    <span class="text-zinc-600 dark:text-zinc-400">Joined Jan 2023</span>
  </div>

  <div class="flex flex-row gap-4">
    <span>
      <span class="font-bold">{following}</span>
      <span class="text-zinc-600 dark:text-zinc-400"> Following</span>
    </span>
    <span>
      <span class="font-bold">{followers}</span>
      <span class="text-zinc-600 dark:text-zinc-400"> Followers</span>
    </span>
  </div>
  <span class="text-xs font-light text-zinc-600 dark:text-zinc-400"
    >Not followed by anyone you're following</span
  >

  <br class="mt-4" />

  <div>
    {#each posts as twit, i}
      <TwitterCard
        dateunix={twit.metadata.dateunix}
        content={twit.default}
        likes={metadata_keyed[twit.metadata.dateunix]['likes']}
        retweets={metadata_keyed[twit.metadata.dateunix]['retweets']}
        bind:this={cards[i]}
        focused={focusedCard == twit.metadata.dateunix}
        notifyParent={focusNewCard}
      />
    {/each}
  </div>
</div>
