<script>
  import { cubicOut } from 'svelte/easing';

  export let x;
  export let y;
  export let seed;
  export let duration;
  export let color;
  export let text;

  const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;

  $: x_velocity = seed * 10 - 5;
  $: y_velocity = (seed * 0.7 + 0.5) * 20;
  $: x_start = x - 15 + 4 * seed - 2;
  $: y_start = y - 5 + 4 * seed - 2;

  function particleMotion(node, { duration }) {
    const o = +getComputedStyle(node).opacity;
    return {
      duration,
      css: (t) => {
        return `
          opacity: ${cubicOut(t) * o};
          transform: translate(${t * x_velocity}px, -${cubicOut(t) * y_velocity}px);
        `;
      }
    };
  }
</script>

<!-- Svelte purges these CSS classes if they aren't explicitly used. -->
<div class="hidden">
  <div class="svg-fill-red"></div>
  <div class="svg-fill-blue"></div>
  <div class="svg-fill-green"></div>
  <!-- add here all the classes that you could potentially use -->
</div>
<p
  class={'svg-fill-' + color}
  style="top:{scrollTop + y_start}px; left:{x_start}px; svg-fill-{color}"
  in:particleMotion|global={{ duration: duration }}
>
  {text}
</p>

<style>
  p {
    position: absolute;
    pointer-events: none;
    z-index: 99;
  }
</style>
