<script>
  export let likes;
  export let twitId;
  export let bigger = false;

  import { twitsLiked } from '$lib/stores.js';
  import { notImplemented } from './utils.js';

  let liked = twitId in $twitsLiked;
  let initially_liked = liked;
  let heartAnim;

  function likeClicked(event) {
    if (liked) {
      notImplemented(event, 'red');
      return;
    }

    liked = true;
    heartAnim.beginElement();
    $twitsLiked[twitId] = 1;
    fetch(`/api/twits/${twitId}/like`, {
      method: 'POST'
    });
  }
</script>

<button
  class="font-light transition-all duration-500 {liked
    ? 'svg-fill-red'
    : ''} hover:svg-fill-red flex flex-row items-center gap-0.5"
  on:click={likeClicked}
>
  <!--See static/pub/twits/heart.svg-->
  <svg
    class="svg-fill-font-light h-6 {bigger ? 'w-6' : 'w-5'}"
    width="800px"
    height="800px"
    viewBox="0 0 24 24"
    fill="#000000"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.5 7C7.11024 7 6 8.11336 6 9.46667C6 10.9908 6.88166 12.6171 8.24626 14.2099C9.39162 15.5468 10.7839 16.7532 12 17.7264C13.2161 16.7532 14.6084 15.5468 15.7537 14.2099C17.1183 12.6171 18 10.9908 18 9.46667C18 8.11336 16.8898 7 15.5 7C14.1102 7 13 8.11336 13 9.46667C13 10.019 12.5523 10.4667 12 10.4667C11.4477 10.4667 11 10.019 11 9.46667C11 8.11336 9.88976 7 8.5 7ZM12 6.6587C11.1735 5.64559 9.91012 5 8.5 5C6.02376 5 4 6.99079 4 9.46667C4 11.7183 5.26747 13.807 6.72743 15.5111C8.20812 17.2395 10.0243 18.7293 11.3857 19.7891C11.747 20.0703 12.253 20.0703 12.6143 19.7891C13.9757 18.7293 15.7919 17.2395 17.2726 15.5111C18.7325 13.807 20 11.7183 20 9.46667C20 6.99079 17.9762 5 15.5 5C14.0899 5 12.8265 5.64559 12 6.6587Z"
      fill="#000000"
    >
      <animate
        bind:this={heartAnim}
        dur={initially_liked ? '0.01s' : liked ? '1s' : 'indefinite'}
        repeatCount="1"
        attributeName="d"
        from="M8.5 7C7.11024 7 6 8.11336 6 9.46667C6 10.9908 6.88166 12.6171 8.24626 14.2099C9.39162 15.5468 10.7839 16.7532 12 17.7264C13.2161 16.7532 14.6084 15.5468 15.7537 14.2099C17.1183 12.6171 18 10.9908 18 9.46667C18 8.11336 16.8898 7 15.5 7C14.1102 7 13 8.11336 13 9.46667C13 10.019 12.5523 10.4667 12 10.4667C11.4477 10.4667 11 10.019 11 9.46667C11 8.11336 9.88976 7 8.5 7ZM12 6.6587C11.1735 5.64559 9.91012 5 8.5 5C6.02376 5 4 6.99079 4 9.46667C4 11.7183 5.26747 13.807 6.72743 15.5111C8.20812 17.2395 10.0243 18.7293 11.3857 19.7891C11.747 20.0703 12.253 20.0703 12.6143 19.7891C13.9757 18.7293 15.7919 17.2395 17.2726 15.5111C18.7325 13.807 20 11.7183 20 9.46667C20 6.99079 17.9762 5 15.5 5C14.0899 5 12.8265 5.64559 12 6.6587Z"
        to="m 12.000112,12.363372 c 4.5e-5,0 8.1e-5,-3.5e-5 8.1e-5,-7.9e-5 0,-4.9e-5 -2.9e-5,-1.01e-4 -7.2e-5,-1.52e-4 -3.7e-5,-4.3e-5 -8.2e-5,-8.2e-5 -1.21e-4,-1.13e-4 -3.9e-5,3.1e-5 -8.4e-5,7e-5 -1.21e-4,1.13e-4 -4.3e-5,5.1e-5 -7.2e-5,1.03e-4 -7.2e-5,1.52e-4 0,4.4e-5 3.6e-5,7.9e-5 8.1e-5,7.9e-5 4.4e-5,0 8e-5,-3.5e-5 8e-5,-7.9e-5 0,-1.8e-5 1.4e-5,-3.2e-5 3.2e-5,-3.2e-5 1.8e-5,0 3.2e-5,1.4e-5 3.2e-5,3.2e-5 0,4.4e-5 3.6e-5,7.9e-5 8e-5,7.9e-5 z M 12,6.6587 C 11.1735,5.64559 9.91012,5 8.5,5 6.02376,5 4,6.99079 4,9.46667 4,11.7183 5.26747,13.807 6.72743,15.5111 c 1.48069,1.7284 3.29687,3.2182 4.65827,4.278 0.3613,0.2812 0.8673,0.2812 1.2286,0 1.3614,-1.0598 3.1776,-2.5496 4.6583,-4.278 C 18.7325,13.807 20,11.7183 20,9.46667 20,6.99079 17.9762,5 15.5,5 14.0899,5 12.8265,5.64559 12,6.6587 Z"
        calcMode="spline"
        keyTimes="0; 1"
        keySplines="0 0.86 0.32 1"
        fill="freeze"
      />
    </path>
  </svg>
  <!-- Note that this will be off by one most times. Locally we immediately
    update the db, so the value will immediately become 2. In production, we
    update the webpage everytime we build. So every build "breaks" anyone's view
    of what the value is if they've liked it. The alternative is a
    non-responsive button. -->
  <span class="text-sm">{likes + (liked ? 1 : 0)}</span>
</button>
