<!-- Similar to ClickParticle.svelte -->
<script>
  import { quadIn, quintIn } from 'svelte/easing';
  import nuke_im from './nuke.png';

  export let x;
  export let y;
  export let seed;
  export let duration;

  $: x_velocity = 200 + seed * 200;
  $: y_velocity = 750 + seed * 500;
  $: rot = 15 + seed * 10;
  $: x_start = x - 100;
  $: y_start = y - 120;

  function particleMotion(node, { duration }) {
    const o = +getComputedStyle(node).opacity;
    return {
      duration,
      css: (t) => {
        const x_delta = Math.random() * 60 * quintIn(1 - t) + x_velocity * quintIn(t + 0.4);
        const rotation = Math.random() * 8 * quadIn(1 - t) + 20 * quintIn(t + 0.4);
        return `
          opacity: ${t + 0.95 * o};
          transform: translate(${x_delta}px, -${quintIn(t + 0.4) * y_velocity}px) rotate(${rotation}deg);
        `;
      }
    };
  }
</script>

<div class="find-me fixed h-full w-full overflow-hidden">
  <img
    style="top:{y_start}px; left:{x_start}px;"
    in:particleMotion|global={{ duration: duration }}
    src={nuke_im}
  />
</div>

<style>
  img {
    position: absolute;
    pointer-events: none;
    width: 150px;
    z-index: 99;
    overflow: hidden;
  }
</style>
