<script>
  export let retweets;
  export let twitId;
  // We center this into view on click.
  export let card;
  export let notifyParent;
  export let bigger = false;

  import { twitsRetweeted } from '$lib/stores.js';
  import { spawnParticle } from './utils.js';
  import { page } from '$app/stores';

  let retweeted = twitId in $twitsRetweeted;

  function retweet(event) {
    let url = $page.url.origin + $page.url.pathname + '/' + twitId;
    navigator.clipboard.writeText(url);
    notifyParent(twitId);
    card.scrollIntoView({ behavior: 'smooth', block: 'center' });
    spawnParticle(event, 'green', 'Copied!');

    $twitsRetweeted[twitId] = 1;
    if (!retweeted) {
      fetch(`/api/twits/${twitId}/retweet`, {
        method: 'POST'
      });
    }
    retweeted = true;
  }
</script>

<button
  class="hover:svg-fill-green {retweeted
    ? 'svg-fill-green'
    : ''} flex flex-row items-center gap-1 font-light transition-all duration-500"
  on:click={(e) => retweet(e)}
>
  <img
    class="svg-fill-font-light {bigger ? 'w-6' : 'w-5'}"
    src="/pub/twits/retweet.svg"
    alt="Retweet"
  />
  <span class="text-sm">{retweets + (retweeted ? 1 : 0)}</span>
</button>
