<script>
  export let dateunix;
  export let content;
  export let likes;
  export let retweets;
  export let focused;
  export let notifyParent;

  import LikeButton from './LikeButton.svelte';
  import RetweetButton from './RetweetButton.svelte';
  import { notImplemented } from './utils.js';
  import { onMount } from 'svelte';

  $: postdatestr = formatTimestamp(dateunix * 1000);
  let card;

  onMount(() => {
    if (focused) {
      card.scrollIntoView({ behavior: 'smooth', block: 'center' });
    }
  });

  function formatTimestamp(unixTimestamp) {
    var currentTime = Date.now();
    var timeDiff = currentTime - unixTimestamp;
    var oneMinute = 60 * 1000;
    var oneHour = 60 * oneMinute;
    var oneDay = 24 * oneHour;
    var oneYear = 365 * oneDay;

    if (timeDiff < oneMinute) {
      return 'Now';
    } else if (timeDiff < oneHour) {
      return Math.floor(timeDiff / oneMinute) + 'm';
    } else if (timeDiff < oneDay) {
      return Math.floor(timeDiff / oneHour) + 'h';
    } else if (timeDiff < oneYear) {
      var date = new Date(unixTimestamp);
      var month = date.toLocaleString('en-us', { month: 'long' });
      var day = date.getDate();
      return month + ' ' + day;
    } else {
      var date = new Date(unixTimestamp);
      var month = date.toLocaleString('en-us', { month: 'short' });
      var day = date.getDate();
      var year = date.getFullYear();
      return month + ' ' + day + ', ' + year;
    }
  }
</script>

<span id={dateunix} class="anchor" />
<div
  bind:this={card}
  class="flex flex-row gap-3 border-t border-zinc-300 p-3 pb-2 dark:border-zinc-500 {focused
    ? 'bg-orange-600/5'
    : ''}"
>
  <img class="svg-fill-logo h-12 w-12" src="/pub/logo.svg" alt="Profile" />
  <div class="">
    <div class="mb-px flex flex-row gap-1">
      <span class="font-bold">Meptl</span>
      <img class="svg-fill-logo mt-1 h-4 w-4" src="/pub/twits/verified.svg" alt="Verified" />
      <span class="font-light text-zinc-600 dark:text-zinc-400">@meptl · {postdatestr}</span>
      <span class="w-7"></span>
    </div>
    <div class="prose prose-zinc pt-0.5 leading-5 dark:prose-invert">
      <svelte:component this={content} />
    </div>
    <div class="flex flex-row gap-12 pt-2">
      <button
        class="hover:svg-fill-blue flex flex-row items-center gap-1 font-light transition-all duration-500"
        on:click={(e) => notImplemented(e, 'blue')}
      >
        <img
          class="svg-fill-font-light svg-fill-font-light h-6 w-4"
          src="/pub/twits/speechbubble.svg"
          alt="Heart"
        />
        <span class="text-sm">0</span>
      </button>
      <RetweetButton twitId={dateunix.toString()} {retweets} {card} {notifyParent} />
      <LikeButton twitId={dateunix.toString()} {likes} />
      <button
        class="hover:svg-fill-blue flex flex-row items-center gap-1 font-light transition-all duration-500"
        on:click={(e) => notImplemented(e, 'blue')}
      >
        <img class="svg-fill-font-light h-6 w-4" src="/pub/twits/views.svg" alt="Heart" />
        <span class="text-sm">0</span>
      </button>
    </div>
  </div>
</div>

<style>
  .anchor {
    position: absolute;
    transform: translateY(-50vh);
  }
</style>
