<script>
  export let data;

  import TwitterCard from '../TwitterCard.svelte';

  const postsImport = import.meta.glob('/src/routes/twits/posts/*.md', { eager: true });
  let posts = [];
  for (const path in postsImport) {
    posts.push(postsImport[path]);
  }
  let twit = posts.find((p) => p.metadata.dateunix === data.post.meta.dateunix);

  let dateunix = data.post.meta.dateunix;
  let content = twit.default;
  let likes = data.post.likes;
  let retweets = data.post.retweets;

  import LikeButton from '../LikeButton.svelte';
  import RetweetButton from '../RetweetButton.svelte';
  import { notImplemented } from '../utils.js';
  import { ArrowLeft } from 'lucide-svelte';

  $: postdatestr = formatTimestamp(dateunix * 1000);
  let card;

  function formatTimestamp(unixTimestamp) {
    const date = new Date(unixTimestamp);
    const timeString = date.toLocaleTimeString('en-US', {
      hour: 'numeric',
      minute: '2-digit',
      hour12: true
    });
    const dateString = date.toLocaleDateString('en-US', {
      month: 'short',
      day: 'numeric',
      year: 'numeric'
    });
    return `${timeString} · ${dateString}`;
  }
</script>

<svelte:head>
  <meta property="og:title" content="Meptl (@meptl) on meptl" />
  <meta property="twitter:title" content="Meptl (@meptl) on meptl" />
  <meta property="description" content={data.markdown} />
  <meta property="og:description" content={data.markdown} />
  <meta property="twitter:description" content={data.markdown} />
</svelte:head>

<div bind:this={card} class="max-w-2xl">
  <button class="mb-6 block rounded-full p-2 hover:bg-zinc-200 dark:hover:bg-zinc-800">
    <a href="/twits">
      <ArrowLeft class="" />
    </a>
  </button>

  <div class="inline-grid grid-cols-2 grid-rows-2 gap-0">
    <img class="svg-fill-logo row-span-2 h-12 w-12" src="/pub/logo.svg" alt="Profile" />
    <!-- Don't know why there's a gap on grid-container cols. Just going to set a neg margin. -->
    <div class="-ml-2 flex flex-row gap-1">
      <span class="font-bold">Meptl</span>
      <img class="svg-fill-logo mt-1 h-4 w-4" src="/pub/twits/verified.svg" alt="Verified" />
    </div>
    <span class="-ml-2 font-light text-zinc-600 dark:text-zinc-400">@meptl</span>
  </div>
  <div class="prose prose-zinc mb-2 pt-2 leading-5 dark:prose-invert">
    <svelte:component this={content} />
  </div>

  <span class="text-sm font-light text-zinc-600 dark:text-zinc-400">{postdatestr} · 2 Views</span>
  <div
    class="mt-3 flex flex-row place-content-between gap-12 border-y border-zinc-300 px-2 py-3 dark:border-zinc-500"
  >
    <button
      class="hover:svg-fill-blue flex flex-row items-center gap-1 font-light transition-all duration-500"
      on:click={(e) => notImplemented(e, 'blue')}
    >
      <img
        class="svg-fill-font-light svg-fill-font-light w-5"
        src="/pub/twits/speechbubble.svg"
        alt="Heart"
      />
      <span class="text-sm">0</span>
    </button>
    <RetweetButton
      twitId={dateunix.toString()}
      {retweets}
      {card}
      bigger={true}
      notifyParent={() => {}}
    />
    <LikeButton twitId={dateunix.toString()} {likes} bigger={true} />
    <button
      class="hover:svg-fill-blue flex flex-row items-center gap-1 font-light transition-all duration-500"
      on:click={(e) => notImplemented(e, 'blue')}
    >
      <img class="svg-fill-font-light h-6 w-5" src="/pub/twits/views.svg" alt="Heart" />
      <span class="text-sm">0</span>
    </button>
    <span></span>
  </div>
</div>
