/* @import "prism-duotone-space.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .svg-fill-site-white {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(97%) sepia(1%) saturate(166%) hue-rotate(194deg) brightness(102%) contrast(94%);
  }

  .svg-fill-site-black {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(12%) sepia(6%) saturate(547%) hue-rotate(201deg) brightness(96%) contrast(91%);
  }

  .svg-fill-logo {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(84%) sepia(29%) saturate(1283%) hue-rotate(327deg) brightness(102%)
      contrast(104%);
  }

  /* Used on twitter page */
  .svg-fill-blue {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(69%) sepia(38%) saturate(3095%) hue-rotate(167deg) brightness(99%) contrast(96%);
  }

  /* Used on twitter page */
  .svg-fill-green {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(45%) sepia(27%) saturate(6585%) hue-rotate(118deg) brightness(94%) contrast(83%);
  }

  /* Used on twitter page */
  .svg-fill-red {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(52%) sepia(68%) saturate(4918%) hue-rotate(336deg) brightness(99%) contrast(89%);
  }

  .svg-fill-font-light {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(73%) sepia(5%) saturate(306%) hue-rotate(202deg) brightness(92%) contrast(96%);
  }

  .text-invert {
    @apply text-site-white dark:text-site-black;
  }
}

@font-face {
  font-family: 'Lugrasimo';
  src: url('/fonts/Lugrasimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
